@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
    Dictionary<string, string> dic = ViewBag.api as Dictionary<string, string>;
    Dictionary<string, int> diseaseCountriesCount = ViewBag.diseaseCountriesCount as Dictionary<string, int>;

    string symptoms = ViewBag.symptoms;

}
<link rel="stylesheet" href="~/css/map/ammap.css" />
<script src="~/js/map/ammap.js"></script>
<script src="~/js/map/worldLow.js"></script>
<script src="~/js/map/black.js"></script>
<script src="~/js/map/worldmap.js"></script>

<form method="GET" accept-charset="utf-8">
    <label class="search-form_label">
        <input id="search-form" class="search-form_input" type="text" name="s" autocomplete="off" placeholder="Search..." />
        <span class="search-form_liveout"></span>
    </label>
    @*<select id="search-by" name="search">
            <option value="0" selected="">Search by Disease</option>
            <option value="1">Search by Country</option>
        </select>*@

</form>
<ul class="results-search" style="display:none;">
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>
<span id="no-result" style="display:none;">No results found</span>


@if (ViewBag.diseaseExists == "true")
{

    <h2>@dic["name"]</h2>
    <h4>Speciality:<span style="font-weight:normal; font-size: 17px;"> @dic["speciality"]</span></h4><br />
    <h4>Id:<span style="font-weight:normal; font-size: 17px;"> @dic["id"]</span></h4><br />
    <h4>Abstract: <span style="font-weight:normal; font-size: 17px;">@dic["abstract"]</span></h4><br />
    <h4>Image: <span style="font-weight:normal; font-size: 17px;"><img src="@dic["thumbnail"]"></span></h4><br />

    <h4>Symptoms: <span style="font-weight:normal; font-size: 17px;">@Html.Raw(symptoms)</span></h4>

    <div id="mapdiv" style="width: 100%; height: 600px;background-color: #222222;"></div>

}
else if (ViewBag.error == "true")
{ <h3>Something went wrong. Please try again later</h3>}
else if (ViewBag.diseaseExists == "false")
{ <h3>This disease doesn't exist. Please try another one.</h3>}



<script>



    var map;
    var minBulletSize = 3;
    var maxBulletSize = 70;
    var min = Infinity;
    var max = -Infinity;

    AmCharts.theme = AmCharts.themes.black;

  

    var goodData = [];




    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '/getCountriesDisease',
            data: {
                id: "@dic["diseaseID"]",
            },
            success: function (data) {
                

                console.log(JSON.parse(data));
                statistics = JSON.parse(data);

                // get min and max values
                for (var i = 0; i < mapData.length; i++) {


                    var countryName = mapData[i].name;
                    var value = min;

                    var found = 0;

                    $.each(statistics, function (index, val) {
                        if (countryName == index) {
                            found = 1;
                            value = val;
                        }
                    });

                    if (value < min) {
                        min = value;
                    }
                    if (value > max) {
                        max = value;
                    }

                    if (found == 0) {
                        value = 0;
                    }

                    mapData[i].value = value;
                    goodData.push(mapData[i]);
                    console.log(mapData[i].value);
                }
                
               
            }

   
            
        });

        
           
            AmCharts.ready(function () {
                map = new AmCharts.AmMap();

                console.log("am fost apelat");
                console.log(goodData);
                map.addTitle("@dic["name"] in the World", 14);

                map.areasSettings = {
                    unlistedAreasColor: "#FFFFFF",
                    unlistedAreasAlpha: 0.1
                };
                map.imagesSettings = {
                    balloonText: "<span style='font-size:14px;'><b>[[title]]</b>: [[value]]</span>",
                    alpha: 0.6
                }

                var dataProvider = {
                    mapVar: AmCharts.maps.worldLow,
                    images: []
                }

                // create circle for each country

                // it's better to use circle square to show difference between values, not a radius
                var maxSquare = maxBulletSize * maxBulletSize * 2 * Math.PI;
                var minSquare = minBulletSize * minBulletSize * 2 * Math.PI;

                // create circle for each country

                for (var i = 0; i < goodData.length; i++) {
                    var dataItem = goodData[i];
                    var value = dataItem.value;
                    // calculate size of a bubble
                    var square = (value - min) / (max - min) * (maxSquare - minSquare) + minSquare;
                    if (square < minSquare) {
                        square = minSquare;
                    }
                    var size = Math.sqrt(square / (Math.PI * 2));
                    var id = dataItem.code;

                    dataProvider.images.push({
                        type: "circle",
                        width: size,
                        height: size,
                        color: dataItem.color,
                        longitude: latlong[id].longitude,
                        latitude: latlong[id].latitude,
                        title: dataItem.name,
                        value: value
                    });
                }



                map.dataProvider = dataProvider;

                map.write("mapdiv");

                map.validateData();
            });
       
    });









</script>


